.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 4rem;
}
.left-container {
  width: 40vw;
 
}
.card {
  height: 100%;
}
.gif {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 20vw;
}
.right-container {
  min-width: 40vw;
  max-width: min-content;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.card-body {
  text-align: left;
  display: flex;
  flex-direction: column;
}
.displayCol {
  background-color: gray;
  border: 0.2px solid rgba(0, 0, 0, 0.416);
  width: 3px;
}
.displayCol-corrent {
  background-color: rgb(21, 215, 21);
  border: 0.2px solid black;
  width: 3px;
}
.displayCol-corrent-orange {
  background-color: rgb(183, 145, 19);
  border: 0.2px solid black;
  width: 3px;
}
.sum-display {
  height: 270px;
  display: flex;
  justify-content: center;
  flex-direction: row;
align-items: flex-end;
  padding: 10px;
}
.main-sec {
  width: 25vw;
  margin: 0;
  align-self: center;
}
